a,a:visited{color:#4fc1e9;font-weight:400;text-decoration:none;}a:hover{color:#3bafda;}.button{border:1px solid #4fc1e9;}.button:hover{border:1px solid #3bafda;}.desktop.navigation .nav-content a:hover,.desktop.navigation .nav-content a.active,.post-title a:hover,.cat-item a:hover,.widget-archive a:hover,.recentcomments a:hover,.widget-recent-entries a:hover,.comment-meta a:hover,.required{color:#4fc1e9!important;}.gallery-next .bx-next:hover{background:#4fc1e9 url('../../images/blog/next.png') no-repeat;background-size:22px 22px;}.gallery-prev .bx-prev:hover{background:#4fc1e9 url('../../images/blog/prev.png') no-repeat;background-size:22px 22px;}.filter.active,.filter:hover{color:#4fc1e9;}.tagcloud a{border:1px solid #4fc1e9;}.tagcloud a:hover{border:1px solid #3bafda;}.tabs ul li.active a{border-top:2px solid #4fc1e9;}.parallax.colored{background-color:#4fc1e9;}.list-dot{background:#4fc1e9;}.projectlist a:hover .projectinfo{background:#4fc1e9;-webkit-transition:background .33s linear;-moz-transition:background .15s linear;-o-transition:background .15s linear;transition:background .15s linear;}@media 
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (   -moz-min-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {.gallery-next .bx-next:hover{background:#4fc1e9 url('../../images/blog/next@2x.png') no-repeat;background-size:22px 22px;}.gallery-prev .bx-prev:hover{background:#4fc1e9 url('../../images/blog/prev@2x.png') no-repeat;background-size:22px 22px;}}.parallax-bg2{background-image:url(../../images/services-blue.jpg);}.parallax-bg4{background-image:url(../../images/news-blue.jpg);}