a,a:visited{color:#a0d468;font-weight:400;text-decoration:none;}a:hover{color:#8cc152;}.button{border:1px solid #a0d468;}.button:hover{border:1px solid #8cc152;}.desktop.navigation .nav-content a:hover,.desktop.navigation .nav-content a.active,.post-title a:hover,.cat-item a:hover,.widget-archive a:hover,.recentcomments a:hover,.widget-recent-entries a:hover,.comment-meta a:hover,.required{color:#a0d468!important;}.gallery-next .bx-next:hover{background:#a0d468 url('../../images/blog/next.png') no-repeat;background-size:22px 22px;}.gallery-prev .bx-prev:hover{background:#a0d468 url('../../images/blog/prev.png') no-repeat;background-size:22px 22px;}.filter.active,.filter:hover{color:#a0d468;}.tagcloud a{border:1px solid #a0d468;}.tagcloud a:hover{border:1px solid #8cc152;}.tabs ul li.active a{border-top:2px solid #a0d468;}.parallax.colored{background-color:#a0d468;}.list-dot{background:#a0d468;}.projectlist a:hover .projectinfo{background:#a0d468;-webkit-transition:background .33s linear;-moz-transition:background .15s linear;-o-transition:background .15s linear;transition:background .15s linear;}@media 
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (   -moz-min-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {.gallery-next .bx-next:hover{background:#a0d468 url('../../images/blog/next@2x.png') no-repeat;background-size:22px 22px;}.gallery-prev .bx-prev:hover{background:#a0d468 url('../../images/blog/prev@2x.png') no-repeat;background-size:22px 22px;}}.parallax-bg2{background-image:url(../../images/services-grass.jpg);}.parallax-bg4{background-image:url(../../images/news-grass.jpg);}