a,a:visited{color:#ac92ec;font-weight:400;text-decoration:none;}a:hover{color:#967adc;}.button{border:1px solid #ac92ec;}.button:hover{border:1px solid #967adc;}.desktop.navigation .nav-content a:hover,.desktop.navigation .nav-content a.active,.post-title a:hover,.cat-item a:hover,.widget-archive a:hover,.recentcomments a:hover,.widget-recent-entries a:hover,.comment-meta a:hover,.required{color:#ac92ec!important;}.gallery-next .bx-next:hover{background:#ac92ec url('../../images/blog/next.png') no-repeat;background-size:22px 22px;}.gallery-prev .bx-prev:hover{background:#ac92ec url('../../images/blog/prev.png') no-repeat;background-size:22px 22px;}.filter.active,.filter:hover{color:#ac92ec;}.tagcloud a{border:1px solid #ac92ec;}.tagcloud a:hover{border:1px solid #967adc;}.tabs ul li.active a{border-top:2px solid #ac92ec;}.parallax.colored{background-color:#ac92ec;}.list-dot{background:#ac92ec;}.projectlist a:hover .projectinfo{background:#ac92ec;-webkit-transition:background .33s linear;-moz-transition:background .15s linear;-o-transition:background .15s linear;transition:background .15s linear;}@media 
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (   -moz-min-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {.gallery-next .bx-next:hover{background:#ac92ec url('../../images/blog/next@2x.png') no-repeat;background-size:22px 22px;}.gallery-prev .bx-prev:hover{background:#ac92ec url('../../images/blog/prev@2x.png') no-repeat;background-size:22px 22px;}}.parallax-bg2{background-image:url(../../images/services-lavander.jpg);}.parallax-bg4{background-image:url(../../images/news-lavander.jpg);}