a,a:visited{color:#48cfad;font-weight:400;text-decoration:none;}a:hover{color:#37bc9b;}.button{border:1px solid #48cfad;}.button:hover{border:1px solid #37bc9b;}.desktop.navigation .nav-content a:hover,.desktop.navigation .nav-content a.active,.post-title a:hover,.cat-item a:hover,.widget-archive a:hover,.recentcomments a:hover,.widget-recent-entries a:hover,.comment-meta a:hover,.required{color:#48cfad!important;}.gallery-next .bx-next:hover{background:#48cfad url('../../images/blog/next.png') no-repeat;background-size:22px 22px;}.gallery-prev .bx-prev:hover{background:#48cfad url('../../images/blog/prev.png') no-repeat;background-size:22px 22px;}.filter.active,.filter:hover{color:#48cfad;}.tagcloud a{border:1px solid #48cfad;}.tagcloud a:hover{border:1px solid #48cfad;}.tabs ul li.active a{border-top:2px solid #48cfad;}.parallax.colored{background-color:#48cfad;}.list-dot{background:#48cfad;}.projectlist a:hover .projectinfo{background:#48cfad;-webkit-transition:background .33s linear;-moz-transition:background .15s linear;-o-transition:background .15s linear;transition:background .15s linear;}@media 
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (   -moz-min-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {.gallery-next .bx-next:hover{background:#48cfad url('../../images/blog/next@2x.png') no-repeat;background-size:22px 22px;}.gallery-prev .bx-prev:hover{background:#48cfad url('../../images/blog/prev@2x.png') no-repeat;background-size:22px 22px;}}.parallax-bg2{background-image:url(../../images/services-green.jpg);}.parallax-bg4{background-image:url(../../images/news-green.jpg);}