body.royal_loader{background:none;visibility:hidden;}#royal_preloader{font-family:Arial;font-size:12px;visibility:visible;position:fixed;top:0px;right:0px;bottom:0px;left:0px;z-index:9999999999;-webkit-transition:opacity 0.2s linear 0.8s;-moz-transition:opacity 0.2s linear 0.8s;-ms-transition:opacity 0.2s linear 0.8s;-o-transition:opacity 0.2s linear 0.8s;transition:opacity 0.2s linear 0.8s;}#royal_preloader.complete{opacity:0;}#royal_preloader .background{position:absolute;top:0px;bottom:0px;left:0px;right:0px;background-color:#fff;-webkit-transition:background 0.5s linear;-moz-transition:background 0.5s linear;-ms-transition:background 0.5s linear;-o-transition:background 0.5s linear;transition:background 0.5s linear;}#royal_preloader.number .name{position:absolute;top:20%;left:0px;right:0px;text-transform:uppercase;color:#EEEEEE;text-align:center;opacity:0;-webkit-transition:-webkit-transform 0.3s linear;-moz-transition:-moz-transform 0.3s linear;-ms-transition:-ms-transform 0.3s linear;-o-transition:-o-transform 0.3s linear;transition:transform 0.3s linear;-webkit-animation:fly 0.3s;-moz-animation:fly 0.3s;-ms-animation:fly 0.3s;-o-animation:fly 0.3s;animation:fly 0.3s;}#royal_preloader.number .percentage{font-family:"Times New Roman",Times,serif;font-style:italic;color:#424242;text-align:center;margin:-90px 0px 0px -90px;background-image:url('../images/loading.gif');background-repeat:no-repeat;background-position:50% 0;padding-top:80px;width:180px;position:absolute;font-size:15px;top:50%;left:50%;-webkit-transition:all 0.3s linear 0.5s;-moz-transition:all 0.3s linear 0.5s;-ms-transition:all 0.3s linear 0.5s;-o-transition:all 0.3s linear 0.5s;transition:all 0.3s linear 0.5s;}#royal_preloader.text .loader{color:#FFFFFF;position:absolute;top:50%;left:50%;height:30px;line-height:30px;margin-top:-15px;letter-spacing:3px;font-size:16px;white-space:nowrap;}#royal_preloader.text .loader div{position:absolute;top:0px;right:0px;bottom:0px;left:0%;background-color:#000000;opacity:0.7;filter:alpha(opacity=70);-webkit-transition:left 0.3s linear;-moz-transition:left 0.3s linear;-ms-transition:left 0.3s linear;-o-transition:left 0.3s linear;transition:left 0.3s linear;}#royal_preloader.logo .loader{width:80px;height:80px;position:absolute;left:50%;top:50%;margin:-40px 0px 0px -40px;overflow:hidden;background-position:50% 50%;background-repeat:no-repeat;background-size:cover;border-radius:100%;}#royal_preloader.logo .loader div{position:absolute;bottom:0%;left:0px;right:0px;height:100%;opacity:0.7;filter:alpha(opacity=70);-webkit-transition:bottom 0.3s linear;-moz-transition:bottom 0.3s linear;-ms-transition:bottom 0.3s linear;-o-transition:bottom 0.3s linear;transition:bottom 0.3s linear;}#royal_preloader.logo .percentage{position:absolute;width:80px;height:40px;line-height:40px;top:50%;left:50%;margin:40px 0px 0px -40px;color:#072E77;text-align:center;font-family:Arial;font-size:12px;font-weight:bold;}@-webkit-keyframes fly {
    0% { opacity: 0; top: 50%; } 20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
@-moz-keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
@-ms-keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
@-o-keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
@keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}